<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Consesionarios</h3>
    </div>
    <div class="panel-body">  
        
        
        
    <p>
        Espacio para consesionarios registrados de venta de usados o nuevos
    </p>    


    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Noticias</h3>
    </div>
    <div class="panel-body">  
        
        
        
    <p>
        Espacio para eventos que se realizan por grupos de dueños de mascotas de fb y que se quieran publicar aca
    </p>    


    </div>
</div>
