<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Criaderos</h3>
    </div>
    <div class="panel-body">  
        
        
        
    <p>
        Item en construccion ...
        <!--Espacio para criaderos registrados de venta o adopcion-->
    </p>    


    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Noticias</h3>
    </div>
    <div class="panel-body">  
        
        
        
    <p>
        Item en construccion ...
        <!--Espacio para eventos que se realizan por grupos de dueños de mascotas de fb y que se quieran publicar aca-->
    </p>    


    </div>
</div>
