<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Criaderos</h3>
    </div>
    <div class="panel-body">  
        
        
        
    <p>
        Registrate tu criadero y tu nombre estará en este lugar
        <!--Espacio para criaderos registrados de venta o adopcion-->
        {# TODO: Mostrar listado de criaderos#}
    </p>    


    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Noticias</h3>
    </div>
    <div class="panel-body">  
        
        
        <ul>
<li>
    <p>
        Se da apertura al sitio Mi Mascota
        Te damos la bienvenida y esperamos sea útil para ti.
        <!--Espacio para eventos que se realizan por grupos de dueños de mascotas de fb y que se quieran publicar aca-->
    </p>    
</li>
</ul>


    </div>
</div>
