{% extends '::frontend.html.twig' %}

{% block id 'usuarioProducto' %}
{% block title %}Ver moto{% endblock %}

{% block article %}
<a href="{{ path('inicio') }}">Volver al inicio</a> | 
<h1>{{ block('title') }}</h1>            

{#
**********************************************************************************************************
**********************************************************************************************************
******************************* INICIO DATOS DEL PRODUCTO ASOCIADO CON ALGUNOS DEL USUARIO****************
**********************************************************************************************************
**********************************************************************************************************
#}
    
    {#% include 'FrontendBundle:Default:datosVerUsuario.html.twig' %#}

<div class="row">    
    <div class="col-md-3">
        <b>Telefono</b>
    </div>
    <div class="col-md-3">
        <span>{{ usuario.telefono }}</span>
    </div>
    {% if (usuario.telefonodos != null) %}
    <div class="col-md-3">
        <b>Telefono 2</b>
    </div>
    <div class="col-md-3">
        <span>{{ usuario.telefonodos }}</span>
    </div>    
    {% endif %}
</div>

    {% if producto is defined %}

        {% if(producto == null) %}
            {% set producto = usuario.productsCollection[0] %} 
        {% else %}            
            {% include 'FrontendBundle:UsuarioProducto:verDetalleUsuarioProducto.html.twig' %}
        {% endif %}    

    {% else %}                
            Producto no definido
    {% endif %}

{% endblock %}

{% block aside %}{% endblock %}
