{% extends '::frontend.html.twig' %}

{% block id 'productos' %}
{% block title %}Notificar venta{% endblock %}

{% block content %}
<a href="{{ path('portada_producto_inicio') }}">Volver al inicio</a> | 
<h1>{{ block('title') }}</h1>    
    
    
  

Numero de anuncio **Donde encuentro el numero del anuncio?
<br/>
Email --olvide el mail
    
              
    {% endblock %}