{% extends '::frontend.html.twig' %}

{% block id 'productos' %}
{% block title %}Tarifas y beneficios{% endblock %}

{% block content %}
<a href="{{ path('portada_producto_inicio') }}">Volver al inicio</a> | 
<h1>{{ block('title') }}</h1>    
    
  Renueva tu Anuncio
  <br/>
  <br/>

Para mantener una cartera real de vehículos en venta y evitar que TuMoto se llene de motos ya vendidas, te solicitamos renovar tu aviso mensualmente.
<br/>
  <br/>
Para renovar tu anuncio, llena la siguiente planilla gratuita o contáctanos gratis desde tu fijo nacional o local al 018000-522776 o desde tu celular al (1)-531-1099. Sólo podrás hacerlo hasta 15 días después de su vencimiento, si no, el mismo dejará de aparecer en la página.
<br/>
  <br/>
Ten presente que a partir de la primera renovación, el número de anuncio cambiará cada vez que lo renueves.
<br/>
  <br/>Datos de la Publicación
<br/>
  <br/>* Datos obligatorios
<br/>
Numero de anuncio
<br/>Placa
<br/>
Imagen de Seguridad
<br/>
<br/>
Si tienes algún inconveniente para llenar esta solicitud, por favor comunícate con nosotros a los teléfonos:

<br/>
  <br/>- Gratis desde tu fijo nacional o local al 018000-5CARRO (22776)

<br/>
  <br/>- Desde tu celular al (1)-531-1099
    {% endblock %}