{% extends '::frontend.html.twig' %}

{% block id 'productos' %}
{% block title %}Tarifas y beneficios{% endblock %}

{% block content %}
<a href="{{ path('portada_producto_inicio') }}">Volver al inicio</a> | 
<h1>{{ block('title') }}</h1>    
    
    
    <div style="padding-left: 0px">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tarifas</h3>
                    </div>
                    <div class="panel-body">  

Este documento es parte integrante de los Términos y Condiciones Generales de Servicio. Mediante la aceptación de los Términos y Condiciones Generales en el momento del registro o de contratación del servicio, el cliente acepta las políticas aquí contenidas.

<br/><br/>El servicio no tiene ningun costo, el proyecto es creado sin animo de lucro ya que nuestro objetivo es contribuir con la sociedad y nuestros animales por medio de este grano de arena que nuestro equipo de trabajo puede aportar, nos hemos hecho cargo de los costos del proyecto y esperamos su colaboracion para <br/>
poder continuar prestando el servicio y poder realizar mejoras al mismo.

<br/><br/>recibimos donaciones en la cuenta de davivienda # a nombre de Hector Andres Chabur Tabares.

{#

<br/><br/><b>A) Cargo de publicación: Publicar un aviso clasificado en Mimoto.com tiene un costo</b>. Al momento de publicar un aviso, se puede contratar distintas opciones de destaque o promoción. Lee atentamente las condiciones de generación y cobranza de esos cargos. Estos cargos pueden ser:

<br/><br/><b>Opciones promoción y publicación</b>
<br/>
<br/>
<table>
    <thead>
    <th>Tipo de publicación</th>
    <th>Cantidad de fotos</th>
    <th>Ubicación en la página</th>
    <th>Opciones</th>
    <th>Precio</th>   
    <thead>
    <tbody>
    
    <tr>
        <td><b>Publicación VIP</b></td>
        <td>8 (ocho) *</td>
        <td>Superior ** <a href="#">?</a></td>
        <td>Pago en línea<br/>Servicio a domicilio<br/>Centro de fotografía</td>
        <td>$ 45.000</td>
    </tr>
    
    
    <tr>
        <td><b>Publicación Completa</b></td>
        <td>6 (seis) *</td>
        <td>Alta ** <a href="#">?</a></td>
        <td>Pago en línea<br/>Centro de fotografía<br/>Cliente profesional</td>
        <td>$ 40.000</td>
    </tr>
    
    
    <tr>
        <td><b>Publicación Básica</b></td>
        <td>4 (cuatro) *</td>
        <td>Media ** <a href="#">?</a></td>
        <td>Pago en línea<br/>Centro de fotografía</td>
        <td>$ 35.000</td>
    </tr>
    
    </tbody>
</table>


<br/><br/>* En la sección destinada a fotografías dentro de la descripción del aviso clasificado.

<br/><br/>** La ubicación en la página podría variar a partir de la cantidad de publicaciones activas en cada categoría del sitio.
#}
<br/><br/><b>A) Características generales del Servicio:</b> El servicio contratado por el Cliente incluye lo siguiente:
<br/>
<br/>
<ul>
    <li><b>Fotografías.</b> Cuando estuviera disponible, agentes o empleados de MiMascota.com podrán tomar la(s) fotografía(s) de la mascota a ser publicado y ofrecido por el cliente, en un lugar a designar de mutuo acuerdo, o bien en cualquiera de nuestros <a href="#">centros de fotografía.</a> El cliente puede tomar sus propias fotografías de la mascota a ser ofrecido, en cuyo caso, las mismas deberán cumplir con los estándares exigidos por el sitio para su  publicación.
    </li><li><b>Publicación de anuncios.</b> El anuncio se publicará en el sitio web alojado en <a href="{{ path('portada_producto_inicio') }}">www.mimascota.com</a> en el formato preestablecido y con las demás condiciones que se mencionan en esta sección.
    </li><li><b>Carga de anuncios.</b> La carga del aviso clasificado del Cliente podrá ser realizada por el mismo usuario o por agentes o dependientes de MiMascota.com, en cuyo caso se hará por cuenta y orden del usuario y siguiendo sus instrucciones expresas en cuanto a información, modalidad, etc. Dicha carga se hará conforme y dentro de los campos preestablecidos en el sitio. En todos los anuncios, el usuario deberá declarar, brindar y publicar toda información relativa el bien ofrecido de manera exacta, precisa y verdadera y asume el compromiso de actualizarla conforme resulte necesario. MiMascota.com NO se responsabiliza por la certeza de la información provista por sus usuarios, tanto a relativa a sus datos personales como al bien ofrecido. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de todos los datos ingresados.
    </li><li><b>Plazo de publicación.</b> El término de la publicación es ilimitado. Sin embargo, cada 30 días (contados desde el primer día de publicación) el contratante deberá notificar a MiMascota.com si desea continuar con el servicio, caso contrario y vencido este plazo, MiMascota.com se reserva el derecho de suspender la publicación sin previo aviso. Las renovaciones son gratuitas.
</li></ul>

    </div>
                </div>
            </div>
    {% endblock %}