{% extends '::frontend.html.twig' %}

{% block id 'producto' %}

{% block title %}Ver mascota{% endblock %}

{% block article %}

<h1>{{ block('title') }}</h1>
    <a href="{{ path('usuario_hello') }}">Administración</a> | 
    <a href="{{ path('inicio') }}">Volver inicio</a> |
    <a href="{{ path('usuario_producto_ver') }}">Usuario mascota</a> |
    
    {% include 'FrontendBundle:UsuarioProducto:verDetalleUsuarioProducto.html.twig' %}                          
{% endblock %}
